<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.35.1" targetFramework="net451" />
  <package id="Google.Apis.Auth" version="1.35.1" targetFramework="net451" />
  <package id="Google.Apis.Books.v1" version="1.35.1.1331" targetFramework="net451" />
  <package id="Google.Apis.Core" version="1.35.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta009" targetFramework="net451" developmentDependency="true" />
</packages>