/* https://foliotek.github.io/Croppie/ */ 

@keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.loader {
    display:none;
}
.show-loader .loader {
    display: block;
}
.show-loader .image-wrapper-div {
    display: none;
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo .upload-cancel,
.upload-demo.ready .upload-msg,
.upload-demo.ready .loader {
    display: none;
}
.upload-demo.ready {
    z-index:11;
    height: 570px;
}

.upload-demo.ready .upload-demo-wrap {
    display: block;
    margin-bottom: 50px;
}

.upload-demo.ready .upload-result, .upload-demo.ready .upload-cancel {
    display: inline-block;
    margin-bottom: 5px;
}

.upload-demo.ready .form-group {
    display: none;
}

/*.upload-demo-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}*/

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
}

/* Sweet alert modifications */
.sweet-alert {
    width: auto;
    max-width: 85%;
}

/* Modal CSS */
.croppieModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0,0,0,0.3);
    z-index: 10000;
}

.croppicModalObj {
    width: 358px;
    height: 198px;
    margin: 0 auto;
    position: relative;
}
