<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="SmartLibraryEntities" connectionString="data source=SQL5017.site4now.net;initial catalog=DB_A14455_smartlibrary;user id=DB_A14455_smartlibrary_admin;password=D3vCPT@16;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="SmartLibraryEntities" connectionString="data source=PCT66\SQLEXPRESS;initial catalog=smartlibrary;user id=sa;password=Tatva@123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="SmartLibraryEntities" connectionString="data source=192.168.0.13\SQLSERVER2014;initial catalog=04TSITUAECASMA02;user id=hardik;password=hardik;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="AccessTokenForActiveDirectoryLogin" value="047f6889-5c8c-4830-bb94-3442709dd388" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PageSize" value="10" />
    <add key="PageSizeForGrid" value="24" />
    <add key="IsEmailTest" value="false" />
    <add key="IsActiveDirectory" value="true" />
    <add key="TestEmailToAddress" value="bhoomi.shah@internal.mail;" />
    <add key="FromEmailAddress" value="tirthak.shah@internal.mail;" />
    <add key="NotificationIsLive" value="false" />
    <add key="IsNotificationOn" value="true" />
    <add key="ResetPasswordExpireTime" value="15" />
    <add key="AdminUrl" value="http://localhost/SmartLibrary.Admin" />
    <add key="AdminPath" value="http://localhost/SmartLibrary.Admin/" />
    <add key="GoogleBookAPIKey" value="AIzaSyDXe5uxa7D-Tw3c2TNqPdLWIEwXU63SUhU" />
    <add key="ActiveISBNAPI" value="GoogleBookAPI" />
    <add key="FrontEndSiteUrl" value="http://localhost/SmartLibrary.Site/" />
    <add key="StartTimeForTimepicker" value="8:00" />
    <add key="EndTimeForTimepicker" value="20:00" />
    <add key="StepForTimepicker" value="15" />
    <add key="SignalRHubProxyUrl" value="http://localhost/SmartLibrary.Admin/signalr/hubs" />
    <!-- Fetch Notification Job Time : Every day 00:05 AM-->
    <add key="FetchNotificationJobTime" value="0 5 0 1/1 * ? *" />
    <add key="ReturnBookRemainingDayCount" value="5" />
    <add key="SkipEmail" value="false" />
    <add key="ActiveDirectoryLoginUrl" value="http://178.238.238.204/gwAMS//api/Account/LoginWithActiveDirectory" />
    <add key="ActiveDirectoryUserUrl" value="http://178.238.238.204/gwAMS//api/Account/GetAllActiveDirectoryUserList" />
    <add key="ActiveDirectoryRegisterUrl" value="http://178.238.238.204/gwAMS//api/Account/Register" />
    <add key="ActiveDirectoryUpdateUrl" value="http://178.238.238.204/gwAMS//api/Account/Update" />
    <add key="ActiveDirectoryChangePasswordUrl" value="http://178.238.238.204/gwAMS//api/Account/ChangePassword" />
    <add key="ActiveDirectoryDeleteUserUrl" value="http://178.238.238.204/gwAMS//api/Account/DeleteUser" />
    <add key="GetADuserDataWithPCNo" value="http://178.238.238.204/gwAMS//api/Account/GetActiveDirectoryUserDetail" />
    <add key="FormAunthenticationGuestLoginUrl" value="http://178.238.238.204/gwAMS//api/Account/LoginWithFormAuthentication" />
    <add key="ActiveDirectoryDirectLogin" value="http://178.238.238.204/gwAMS//api/Account/DirectLoginWithActiveDirectory" />
    <add key="ActiveDirectoryDirectLoginIFrameURL" value="http://web1.anasource.com:8045" />
    <add key="RSAPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCl3HlNasUxlmqXc5nGJjYKll+c7omgwxaj+G/SYVcIHbBK9E6XASP0Dew88+0X1hZL9s4DJgqbp1l/VehiVz5EtwMOqSeAM0FpuEKztITYZHuR8PQsrEj7zdWa+8PjF8OdhhFuQec10ohX78uk0hQ0aWMlpy4PqN1+L08hMPf+9QIDAQAB"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="480" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5.2" maxRequestLength="512000000" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://192.168.0.251:8080" usesystemdefault="True" bypassonlocal="True" />
    </defaultProxy>
    <mailSettings>
      <smtp>
        <!--<network host="mail.caspianpacifictech.com" port="587" userName="dipal.patel@caspianpacifictech.com" password="91P3lP$18" defaultCredentials="false" enableSsl="false"/>-->
        <network host="192.168.0.6" port="25" defaultCredentials="true" />
        <!--<network host="smtp.gmail.com" port="587" userName="smartlib2018@gmail.com" password="SmartLibrary@123" defaultCredentials="false" enableSsl="true"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>